# Importo las librerias

In [3]:
import pandas as pd
#from pandas import DataFrame
import os
import time
#import sweetviz as sv
#import csv
import requests
import json
import datetime
import time #for Throttle a function time.sleep(3)
#import plotly.graph_objects as go
import pickle

## Cargo el DataFrame

In [204]:
#Datos de Transacciones y Tags
subdir = 'E:/Vtex_Projects/Monitoreo_Gateways/VTEX_Splunk_2_Datastudio - Data/0_base/'
name = 'Payments_ByCurrency_Connector_2020.csv'
name_country = '0_Tags_Country.csv'
name_connector = '0_Tags_Connector.csv'

df = pd.read_csv(os.path.join(subdir, name), sep = ",", encoding='cp1252')
df_country = pd.read_csv(os.path.join(subdir, name_country), sep = ",", encoding='cp1252')
df_connector = pd.read_csv(os.path.join(subdir, name_connector), sep = ",", encoding='cp1252')

In [205]:
df

,currency,connector,accountname,account,False:::Count of Transactions_PCI,False:::Sum of kpi_sum,True:::Count of Transactions_PCI,True:::Sum of kpi_sum
0,AED,CCAvenue,motoroladevelopment,motoroladevelopment,12,10.06,0,NaN
1,AED,CCAvenue,motorolamea,motorolamea,17,17.00,2,2.00
2,AED,CCAvenue,shoptheworld,shoptheworld,6,69.50,0,NaN
3,AED,DigitalRiver,motoroladevelopment,motoroladevelopment,16,14.07,0,NaN
4,AED,PayPal,shoptheworld,shoptheworld,0,NaN,1,2.00
...,...,...,...,...,...,...,...,...
84973,UYU,Promissory,moteuy,moteuy,0,NaN,68,22879.85
84974,UYU,Promissory,tatauy,tatauy,2,6010.00,33508,91930564.34
84975,UYU,Promissory,tatauyqa,tatauyqa,0,NaN,472,968772.84
84976,VES,Promissory,diageoven,diageoven,0,NaN,3,41050.00
84977,VES,Promissory,locatelvenezuela,locatelvenezuela,0,NaN,3,3605286.00

In [206]:
df_2 = pd.merge(df, df_country, how = "left", left_on='currency', right_on='Moneda', indicator=True)
df_2[df_2._merge == 'left_only'].currency.value_counts()

Series([], Name: currency, dtype: int64)

In [207]:
df_2['merge0'] = df_2['_merge']
df_2.drop('_merge', axis = 1, inplace=True)
df_3 = pd.merge(df_2, df_connector, how = "left", left_on='connector', right_on='Conector', indicator=True)

In [208]:
df_3

,currency,connector,accountname,account,False:::Count of Transactions_PCI,False:::Sum of kpi_sum,True:::Count of Transactions_PCI,True:::Sum of kpi_sum,Moneda,Currency,TC,Pais,Region,merge0,Conector,Conector_Aj,_merge
0,AED,CCAvenue,motoroladevelopment,motoroladevelopment,12,10.06,0,NaN,AED,USD/AED,3.673200e+00,Emiratos Arabes,Europa,both,NaN,NaN,left_only
1,AED,CCAvenue,motorolamea,motorolamea,17,17.00,2,2.00,AED,USD/AED,3.673200e+00,Emiratos Arabes,Europa,both,NaN,NaN,left_only
2,AED,CCAvenue,shoptheworld,shoptheworld,6,69.50,0,NaN,AED,USD/AED,3.673200e+00,Emiratos Arabes,Europa,both,NaN,NaN,left_only
3,AED,DigitalRiver,motoroladevelopment,motoroladevelopment,16,14.07,0,NaN,AED,USD/AED,3.673200e+00,Emiratos Arabes,Europa,both,NaN,NaN,left_only
4,AED,PayPal,shoptheworld,shoptheworld,0,NaN,1,2.00,AED,USD/AED,3.673200e+00,Emiratos Arabes,Europa,both,NaN,NaN,left_only
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84973,UYU,Promissory,moteuy,moteuy,0,NaN,68,22879.85,UYU,USD/UYU,4.214000e+01,Uruguay,Latam,both,NaN,NaN,left_only
84974,UYU,Promissory,tatauy,tatauy,2,6010.00,33508,91930564.34,UYU,USD/UYU,4.214000e+01,Uruguay,Latam,both,NaN,NaN,left_only
84975,UYU,Promissory,tatauyqa,tatauyqa,0,NaN,472,968772.84,UYU,USD/UYU,4.214000e+01,Uruguay,Latam,both,NaN,NaN,left_only
84976,VES,Promissory,diageoven,diageoven,0,NaN,3,41050.00,VES,USD/VES,1.803004e+07,Venezuela,Latam,both,NaN,NaN,left_only
84977,VES,Promissory,locatelvenezuela,locatelvenezuela,0,NaN,3,3605286.00,VES,USD/VES,1.803004e+07,Venezuela,Latam,both,NaN,NaN,left_only

In [209]:
#Completo los NaN con 0
df_3.rename(columns = {'currency': 'Currency',
                        'connector': 'Connector',
                        'accountname': 'AccountName',
                        'account': 'Account',
                        'False:::Count of Transactions_PCI': 'Cantidad_F',
                        'False:::Sum of kpi_sum': 'Importe_Original_F',
                        'True:::Count of Transactions_PCI': 'Cantidad',
                        'True:::Sum of kpi_sum': 'Importe_Original',
                        'Currency': 'Currency_2',
                        'Conector': 'Connector_2',
                        'Conector_Aj': 'Connector_Aj'        	
                        },
                        inplace=True
                        )

df_3['Importe_USD_F'] = round(df_3['Importe_Original_F'] / df_3['TC'],0)
df_3['Importe_USD']  = round(df_3['Importe_Original'] / df_3['TC'],0)
df_3['Connector_Aj'].fillna('Otro', inplace=True)

In [210]:
df_3.Cantidad_F.fillna(0, inplace=True)
df_3.Cantidad.fillna(0, inplace=True)
df_3.Importe_Original.fillna(0, inplace=True)
df_3.Importe_Original_F.fillna(0, inplace=True)
df_3.Importe_USD_F.fillna(0, inplace=True)
df_3.Importe_USD.fillna(0, inplace=True)
df_3.drop('Moneda', axis = 1, inplace=True)
df_3.drop('Connector_2', axis = 1, inplace=True)
df_3.drop('merge0', axis = 1, inplace=True)
df_3.drop('_merge', axis = 1, inplace=True)

In [211]:
df_3.describe()

,Cantidad_F,Importe_Original_F,Cantidad,Importe_Original,TC,Importe_USD_F,Importe_USD
count,8.497800e+04,8.497800e+04,8.497800e+04,8.497800e+04,8.497800e+04,8.497800e+04,8.497800e+04
mean,5.438833e+02,2.216935e+08,1.071039e+03,3.468455e+07,4.838417e+02,1.218748e+07,8.913910e+04
std,9.648082e+03,4.730332e+10,2.180207e+04,2.008297e+09,8.747244e+04,2.586729e+09,3.211357e+06
min,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,7.626000e-01,0.000000e+00,0.000000e+00
25%,1.000000e+00,8.911000e+01,1.000000e+00,1.500000e+01,5.450300e+00,1.600000e+01,3.000000e+00
50%,5.000000e+00,8.400000e+02,5.000000e+00,8.677700e+02,5.450300e+00,1.520000e+02,1.530000e+02
75%,2.800000e+01,7.706650e+03,5.400000e+01,1.291484e+04,5.450300e+00,1.359000e+03,2.184750e+03
max,1.157579e+06,1.364002e+13,3.064841e+06,4.686447e+11,1.803004e+07,6.765881e+11,6.149974e+08

## Analizo Outliers

In [215]:
# Analizo Outliers
df_3[df_3.Importe_USD/df_3.Cantidad > 100000]
#df_3[df_3.Importe_USD_F/df_3.Cantidad_F > 1000000]

,Currency,Connector,AccountName,Account,Cantidad_F,Importe_Original_F,Cantidad,Importe_Original,Currency_2,TC,Pais,Region,Connector_Aj,Importe_USD_F,Importe_USD
7816,BRL,ItauShopline,b2beletrotrafo,b2beletrotrafo,0,0.0,11,1.456305e+08,USD/BRL,5.4503,Brasil,Brasil,Otro,0.0,26719725.0
78406,BRL,Promissory,bradescoseguros,bradescoseguros,0,0.0,18,1.476171e+07,USD/BRL,5.4503,Brasil,Brasil,Otro,0.0,2708421.0
78558,BRL,Promissory,eletrotrafo,eletrotrafo,0,0.0,143,8.194296e+07,USD/BRL,5.4503,Brasil,Brasil,Otro,0.0,15034577.0
84768,USD,Promissory,chefcompany,chefcompany,0,0.0,23,7.892636e+06,USD/USD,1.0000,USA,USA,Otro,0.0,7892636.0
84791,USD,Promissory,exito,exito,0,0.0,5,1.005161e+06,USD/USD,1.0000,USA,USA,Otro,0.0,1005161.0
84800,USD,Promissory,gympassus,gympassus,0,0.0,1,1.207053e+05,USD/USD,1.0000,USA,USA,Otro,0.0,120705.0
84904,USD,TestConnector,bornthree,bornthree,0,0.0,4,5.866200e+05,USD/USD,1.0000,USA,USA,Otro,0.0,586620.0

## Exporto

In [213]:
folder = 'E:/Vtex_Projects/Monitoreo_Gateways/VTEX_Splunk_2_Datastudio - Data/1_procesado/'
file = 'data_2020.csv'
folder+file
df_3.to_csv(folder+file, index=False)

In [214]:
df_3.describe()

,Cantidad_F,Importe_Original_F,Cantidad,Importe_Original,TC,Importe_USD_F,Importe_USD
count,8.497800e+04,8.497800e+04,8.497800e+04,8.497800e+04,8.497800e+04,8.497800e+04,8.497800e+04
mean,5.438833e+02,2.216935e+08,1.071039e+03,3.468455e+07,4.838417e+02,1.218748e+07,8.913910e+04
std,9.648082e+03,4.730332e+10,2.180207e+04,2.008297e+09,8.747244e+04,2.586729e+09,3.211357e+06
min,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,7.626000e-01,0.000000e+00,0.000000e+00
25%,1.000000e+00,8.911000e+01,1.000000e+00,1.500000e+01,5.450300e+00,1.600000e+01,3.000000e+00
50%,5.000000e+00,8.400000e+02,5.000000e+00,8.677700e+02,5.450300e+00,1.520000e+02,1.530000e+02
75%,2.800000e+01,7.706650e+03,5.400000e+01,1.291484e+04,5.450300e+00,1.359000e+03,2.184750e+03
max,1.157579e+06,1.364002e+13,3.064841e+06,4.686447e+11,1.803004e+07,6.765881e+11,6.149974e+08